boto3==1.35.48
botocore==1.35.48
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
jmespath==1.0.1
requests==2.32.3
s3transfer==0.10.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
six==1.16.0
tqdm==4.66.5
urllib3==2.2.3
